.navbar{
   height: 50px;
   width: 100%;
   margin: 0;
   position: fixed;
   top: 0;
   background: purple;
}
ul a{
   line-height: 50px;
   width: auto;
   padding: 10px;
   text-decoration: none;
   color: white;
   font-size: 14px;
   display: inline-block;
   padding: 0 13px;
   transition: all .5s;
}
ul a:hover{
   background: #ffffff;
   color: purple;
   cursor: pointer;
}
ul{
   line-height: 50px;
   float: right;
   margin-right: 5vw;
   max-height: 50px;
   overflow: hidden;
}
