
.singleOrder{
    font-family: 'open sans';
    border: solid 1px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    min-width: 250px;
}
.singleOrder li{
   list-style: none;

}

.singleOrder h2{
   font-size: 18px;
   font-weight: 300;
}
.singleOrder h2 span{
   font-weight: 600;
}
.singleOrder h3{
   font-size: 15px;
   font-weight: 300;
}
.singleOrder h4{
   font-size: 15px;
   font-weight: 300;
}
.singleOrder button{
    float: left;
    margin-top: 10px;
    margin-right: 5px;


    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btnEdit {
    border: 2px solid #29B6F6;
    box-shadow: 0 0 40px 40px #03A9F4 inset;
}

.btnDelete {
    border: 2px solid #FF5722;
    box-shadow: 0 0 40px 40px #F4511E inset;
}

.singleOrder button:hover{
    color: #fff;
    outline: 0;
  }
