
.singleOrder{
    font-family: 'open sans';
    border: solid 1px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    min-width: 250px;
}
.singleOrder li{
   list-style: none;

}

.singleOrder h2{
   font-size: 18px;
   font-weight: 300;
}
.singleOrder h2 span{
   font-weight: 600;
}
.singleOrder h3{
   font-size: 15px;
   font-weight: 300;
}
.singleOrder h4{
   font-size: 15px;
   font-weight: 300;
}
.singleOrder button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    border: 1px solid #2d6898;
    background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -2px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 4px 0px #2b638f, 0px 2px 7px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 4px 0px #2b638f, 0px 2px 7px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 4px 0px #2b638f, 0px 2px 7px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    cursor: pointer;
    align-self: center;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  
  .singleOrder button:hover{
      background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
      background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
      background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
      background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
      background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
    }
  