

.singleOrder{
    font-family: 'open sans';
    border: solid 1px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    min-width: 250px;
}

.singleOrder li{
   list-style: none;

}

.singleOrder h2{
   font-size: 18px;
   font-weight: 300;
}
.singleOrder h2 span{
   font-weight: 600;
}
.singleOrder h3{
   font-size: 15px;
   font-weight: 300;
}
.singleOrder h4{
   font-size: 15px;
   font-weight: 300;
}
.singleOrder button{
  float: left;
  margin: 0.5rem;
  padding: 0.5em 1em;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: #dd1155;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.singleOrder button:hover{
    color: #fff;
    outline: 0;
  }